@charset "UTF-8";
/* variables*/
.h1 {
  color: #285885; }

.col-lg-12 h1 {
  color: #285885; }

.col-lg-12 p {
  color: yellow; }

.black {
  color: black; }

.yellow {
  color: yellow; }

.whitesmoke {
  color: whitesmoke; }

.col-lg-12 p {
  font-size: 20px;
  font-weight: bold; }

/*FUENTES BODY*/
@media only screen and (min-width: 1024px) {
  body h1 {
    font-size: 28px;
    text-align: center; } }

/*scss - Nav*/
/* variables*/
.h1 {
  color: #285885; }

.col-lg-12 h1 {
  color: #285885; }

.col-lg-12 p {
  color: yellow; }

.black {
  color: black; }

.yellow {
  color: yellow; }

.whitesmoke {
  color: whitesmoke; }

.col-lg-12 p {
  font-size: 20px;
  font-weight: bold; }

/*FUENTES BODY*/
@media only screen and (min-width: 1024px) {
  body h1 {
    font-size: 28px;
    text-align: center; } }

/*Variables*/
li {
  list-style: none; }

.container-Fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  width: 100%; }

.titulo {
  text-align: center;
  margin-top: 3.125rem;
  color: #285885; }

.gridPresentacion {
  display: grid;
  grid-template-areas: "gridPresentacion__img gridPresentacion__texto";
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  height: auto; }
  .gridPresentacion__img {
    margin-left: 15rem;
    height: 18.75rem;
    padding-bottom: 3.125rem;
    padding-top: 0.9375rem; }
  .gridPresentacion__texto {
    padding-top: 2.1875rem;
    padding-right: 9.375rem;
    margin-right: 3.125rem;
    word-spacing: 0.0625rem;
    text-align: justify; }

.gridPresentacion__img {
  grid-area: gridPresentacion__img; }

.gridPresentacion__texto {
  grid-area: gridPresentacion__texto; }

/*Inicio Sección Metodo*/
div.metodo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

/*Inicio Sección Método*/
.gridMetodo {
  margin-top: 0.75rem;
  background-color: #285885;
  padding-top: 0.6rem; }
  .gridMetodo__titulo {
    text-align: center;
    word-spacing: 0.13rem;
    letter-spacing: 0.03rem;
    font-size: 1.5625rem;
    margin-top: 3.13rem;
    padding-top: 0.63rem;
    padding-bottom: 1.88rem;
    color: whitesmoke; }
  .gridMetodo__lista {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 7.5rem;
    margin-bottom: 3.125rem;
    margin-top: 2.2rem;
    padding-bottom: 3.125rem;
    color: whitesmoke;
    list-style: none; }
  .gridMetodo__img {
    font-weight: blod; }
  .gridMetodo__texto {
    font-size: 1.25rem;
    margin-top: 0.625rem; }

/*Inicio Sección Equipo*/
.nuestroEquipo__titulo {
  text-align: center;
  margin-top: 6.25rem;
  font-size: 1.5625rem;
  color: #285885; }

.gridEquipo {
  height: auto; }
  .gridEquipo__lista {
    display: grid;
    grid-template-areas: "gridEquipo__img1 gridEquipo__img2 gridEquipo__img3 gridEquipo__img4" "gridEquipo__miembros1 gridEquipo__miembros2 gridEquipo__miembros3 gridEquipo__miembros4";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    margin-top: 3.125rem;
    font-size: 1.125rem; }
  .gridEquipo__miembros {
    font-size: 0.9375rem;
    color: #285885;
    margin-top: 0.9375rem; }

.gridEquipo__img1 {
  grid-area: gridEquipo__img1; }

.gridEquipo__img2 {
  grid-area: gridEquipo__img2; }

.gridEquipo__img3 {
  grid-area: gridEquipo__img3; }

.gridEquipo__img4 {
  grid-area: gridEquipo__img4; }

.gridEquipo__miembros1 {
  grid-area: gridEquipo__miembros1; }

.gridEquipo__miembros2 {
  grid-area: gridEquipo__miembros2; }

.gridEquipo__miembros3 {
  grid-area: gridEquipo__miembros3; }

.gridEquipo__miembros4 {
  grid-area: gridEquipo__miembros4; }

/*INICIO-METODO CALIDAD*/
svg.bd-placeholder-img.rounded-circle {
  margin-bottom: 20px; }

section.container.metodo {
  background-color: #285885;
  margin-top: 50px;
  margin-bottom: 50px; }

h1.metodo {
  color: whitesmoke; }

div.col-md-7.Presentacion {
  margin-bottom: 40px; }

.lead {
  font-size: 18px; }

h5.metodo__texto {
  color: whitesmoke; }

/*CSS INTERVENCIONES*/
div.intervencionesCalidad {
  margin-right: 20px;
  margin-left: 20px; }

a {
  color: whitesmoke !important; }

div.col-sm li {
  list-style: none; }

.caja {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: whitesmoke;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px; }

div.row.box {
  align-items: center; }

/*Variables*/
li {
  list-style: none; }

a.nav-link {
  color: whitesmoke; }

div.blog-spot {
  text-align: left; }

/*ESTILO RESPONSIVE*/
@media screen and (min-width: 768px) {
  #tituloPresentacion {
    text-align: left;
    margin-right: 20px;
    margin-right: 40px; }
  #textoPresentacion {
    text-align: left;
    margin-right: 40px; }
  #textoEquipo {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 220px;
    margin-right: 220px; }
  #tituloEquipo {
    color: #285885;
    margin-top: 50px;
    margin-bottom: 15px; } }

@media screen and (max-width: 767px) {
  #imgPresentacion {
    width: 40%;
    margin-top: 0px;
    margin-bottom: 50px; }
  #tituloPresentacion {
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  #textoPresentacion {
    font-size: 16px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  #item_1 {
    margin-top: 50px; }
  #item_2 {
    margin-top: 50px; }
  #item_3 {
    margin-top: 50px; }
  #textoEquipo {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px; }
  #tituloEquipo {
    color: #285885;
    margin-top: 50px;
    margin-bottom: 15px; } }

@media screen and (max-width: 480px) {
  #imgPresentacion {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 30px; }
  #tituloPresentacion {
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  #textoPresentacion {
    font-size: 16px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  #item_1 {
    margin-top: 20px; }
  #item_2 {
    margin-top: 50px; }
  #item_3 {
    margin-top: 50px; }
  #textoEquipo {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px; }
  #tituloEquipo {
    color: #285885;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 30px; } }

/*Inicio Medias queries específicas para contacto con resolución menor a 1050px*/
@media screen and (min-width: 1050px) {
  #titulopagina {
    margin-top: 60px;
    margin-bottom: 40px; }
  #formContacto {
    text-align: center;
    margin-left: 100px; }
  #formContacto_form {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px; }
  #mapaContacto {
    text-align: center;
    margin-right: 120px; }
  #tituloUbicacion {
    font-size: 25px; } }

@media screen and (max-width: 1049px) {
  #titulopagina {
    margin-top: 60px;
    margin-bottom: 40px; }
  #itemsContacto {
    display: grid;
    grid-template-columns: 1fr; }
  #formContacto {
    text-align: center;
    margin-bottom: 30px; }
  #formContacto_form {
    font-size: 18px;
    margin-bottom: 30px; }
  #mapaContacto {
    text-align: center; }
  #tituloUbicacion {
    font-size: 25px; } }

/*Fin medias queries específicas para contacto con resolución inferior a 1050px*/
