/*ESTILO RESPONSIVE*/
@media screen and (min-width: 768px){
    #tituloPresentacion{
        text-align: left;
        margin-right: 20px;
        margin-right: 40px;
    }
    #textoPresentacion{
        text-align: left;
        margin-right: 40px;
    }
    #textoEquipo{
        margin-top: 30px; 
        padding-bottom:30px; 
        text-align: center; 
        margin-left: 220px; 
        margin-right: 220px;
    }
    #tituloEquipo{
        color: #285885; 
        margin-top: 50px; 
        margin-bottom: 15px;
    }
    #tituloVision{
        margin-top: 20px; 
        margin-bottom: 10px;
    }
    #parrafoVision{
        text-align: center;
    }
    #tituloPaginaExcelencia{
        margin-top: 80px; 
        margin-bottom: 10px;
    }
    #parrafoServicios{
        margin-left: 280px; 
        margin-right: 280px; 
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #imgPresentacion{
        width: 40%;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    #tituloPresentacion{
        font-size: 20px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    #textoPresentacion{
        font-size: 16px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    #item_1{
        margin-top: 50px;
    }
    #item_2{
        margin-top: 50px;
    }
    #item_3{
        margin-top: 50px;
    }
    #textoEquipo{
        margin-top: 30px; 
        padding-bottom:30px; 
        text-align: justify; 
        margin-left: 10px; 
        margin-right: 10px;
    }
    #tituloEquipo{
        color: #285885; 
        margin-top: 50px; 
        margin-bottom: 15px;
    }
    #parrafoVision{
        margin-left: 100px; 
        margin-right: 100px; 
        text-align: center;
    }
    #intervencion_2{
        margin-top: 40px;
        margin-bottom: 40px
    }
    #intervencion_3{
        margin-top: 40px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 480px) {
    #imgPresentacion{
        width: 50%;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-right: 30px;
    }
    #tituloPresentacion{
        font-size: 20px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    #textoPresentacion{
        font-size: 16px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    #item_1{
        margin-top: 20px;
    }
    #item_2{
        margin-top: 50px;
    }
    #item_3{
        margin-top: 50px;
    }
    #textoEquipo{
        margin-top: 30px; 
        padding-bottom:30px; 
        text-align: justify; 
        margin-left: 10px; 
        margin-right: 10px;
    }
    #tituloEquipo{
        color: #285885; 
        margin-top: 50px; 
        margin-bottom: 15px;
        font-size: 30px;
    }
    #parrafoVision{
        margin-left: 10px; 
        margin-right: 10px; 
        text-align: center;
    }
    #intervencion_2{
        margin-top: 40px;
        margin-bottom: 40px
    }
    #intervencion_3{
        margin-top: 40px;
        margin-bottom: 20px
    }
}

/*Inicio Medias queries específicas para contacto con resolución menor a 1050px*/
@media  screen and (min-width: 1050px) {
    #titulopagina{
        margin-top:60px; 
        margin-bottom: 40px;
    }
    #formContacto{
        text-align: center; 
        margin-left: 100px;
    }
    #formContacto_form{
        font-size: 18px; 
        margin-top:40px; 
        margin-bottom: 40px;
        }
    #mapaContacto{
        text-align: center; 
        margin-right: 120px;
    }
    #tituloUbicacion{
        font-size: 25px;
    }
}
    
    @media  screen and (max-width: 1049px) {
        #titulopagina{
            margin-top:60px; 
            margin-bottom: 40px;
        }
        #itemsContacto{
            display: grid;
            grid-template-columns: 1fr;
        }
        #formContacto{
            text-align: center;
            margin-bottom: 30px;
            }
        #formContacto_form{
            font-size: 18px;
            margin-bottom: 30px;
        }
        #mapaContacto{
            text-align: center; 
        }
        #tituloUbicacion{
            font-size: 25px;
        }
    }
/*Fin medias queries específicas para contacto con resolución inferior a 1050px*/